PORT=
NODE_ENV=

MONGO_URI=
MONGO_DB_NAME=
DB_NAME=drip-store-api

ALLOW_ORIGINS=http://localhost:4200,https://drip-store-api-rose.vercel.app,http://www.dashboard.mydomain.com
VERCEL_URL=
VERCEL_BRANCH_URL=
VERCEL=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=


JWT_SECRET=
