PORT=
NODE_ENV=

MONGO_URI=
MONGO_DB_NAME=MONGO_URI=mongodb+srv://sobih78910_db_user:ahmed@drip-store-api.ztrsuby.mongodb.net/?appName=drip-store-api
DB_NAME=drip-store-api

ALLOW_ORIGINS=http://localhost:4200,http://localhost:5173,https://drip-store-api-gamma.vercel.app,http://www.dashboard.mydomain.com
VERCEL_URL=
VERCEL_BRANCH_URL=
VERCEL=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=


JWT_SECRET=
